/*---------------------------------------------------------------------
                                GERAIS
---------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif, serif;
	background: white;
}

.container {
	width: 100%;
	height: 35em;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	background: rgb(235, 234, 234);
}

/*---------------------------------------------------------------------
                               	CABEÇALHO
---------------------------------------------------------------------*/

header {
	width: 100vw;
	height: 2.5vh;
	background-color: #2c3e50;
	padding: 2%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 6px 5px -5px #908f92; /*sombra em baixo*/
}

.logo{
	width: 6vw;
	height: 8vh;
	padding-top: 0.3rem;
}

.perfil{
	width: 8vw;
	height: 8vh;
	color: white;
}

/*---------------------------------------------------------------------
                               	SEARCHBAR
---------------------------------------------------------------------*/

.search-bar{
	width: 60vw;
	height: 5vh;
	background-color: white;
	text-align: left;
	border-radius: 3em;
	display: flex;
	align-items: center;
}

.search-image {
	width: 4vw;
	height: 4vh;
	color:#b4c12d;
}

.search-input{
	width: 53vw;
	height: 3vh;
	margin-left: 1vh;
	font-size:  3.5vh;
	font-weight: 540;
	border: 0em;
	outline-color: black;
}

.searchinput::placeholder {
    color: #2c3e50;
    opacity: 0.9;
}

/*---------------------------------------------------------------------
                               	 MENU
---------------------------------------------------------------------*/

.menu{	
	width: 15vw;
	height: 30.8rem;
	background-color: white;
	box-shadow: 5px 0 5px -5px #908f92; /*sombra na direita*/
}

.menu-link{	
	list-style: none;	
	color: #908f92;
	text-decoration-line: none;	
	width: 12rem;
	display: flex;
	justify-content: space-around;
	margin: 1.3rem 0 0 0; /*cima, direita, baixo, esquerda*/
}

.menu-link:hover {
	list-style: none;	
	color: #908f92;
	text-decoration-line: none;	
	width: 12rem;
	display: flex;
	justify-content: space-around;
	margin: 1.3rem 0 0 0; /*cima, direita, baixo, esquerda*/
	color:#b4c12d;
}

nav ul {
	list-style: none;
}

/*----------- BOTÕES ----------*/

.menu-opt{
	width: 8rem;
	height: 2rem;
	font-size: 1.3rem;
	text-decoration-line: none;
	padding-top: 0.1rem;
	padding-left: 1.5rem;
}

.menu-btn{
	width: 1.5rem;
	height: 1.5rem;
	text-decoration-line: none;
	margin-left: 1rem;
}	

/*---------------------------------------------------------------------
                            	CONTEÚDO
---------------------------------------------------------------------*/

.content{
	width: 79%;
	height: 4rem; 
	background-color:white;	
	text-decoration:none;
	color: #908f92;
	align-items: flex-end;
	text-align: center;
	margin: 3% 3% 0 3%; /*cima, direita, baixo, esquerda*/	
	box-shadow: 0px 0px 4px 0px #908f92; /*sombra no contorno*/
	border-radius: 0.5em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 0.5em;
}

/*------ CONTEÚDO TABELA -------*/

.profile-img{
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	padding-top: 0.1rem;
}

.profile-btn, .profile-ico{
	height: 1.3rem;
	width: 1.3rem;
	color: gray;
	border: none;
	background-color: white;
}

.profile-link{
	margin-right: 15%;
	width: 100%;
	height: 4rem; 
	border: 1px solid red;
	background-color:white;	
	text-decoration:none;
	color: #908f92;
	align-items: flex-end;
	text-align: center;
	box-shadow: 0px 0px 4px 0px #908f92; /*sombra no contorno*/
	border-radius: 0.5em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 0.5em;
}

/*---------------------------------------------------------------------
                            	GENÉRICAS
---------------------------------------------------------------------*/

.bold{
	color: gray;
	font-weight: bold;
}.

/*---------------------------------------------------------------------
                            	TIPOGRAFIA
---------------------------------------------------------------------*/

h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: black;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}


/*---------------------------------------------------------------------
                            RESPONSIVIDADE
---------------------------------------------------------------------*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}
