/*---------------------------------------------------------------------
                                GERAIS
---------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

header{
    border: 10px; 
    border-color: black;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

footer{
    border: 10px; 
    border-color: black;
}

div{
    border: 10px; 
    border-color: black;
    color: blue;
}

/*---------------------------------------------------------------------
                                OUTROS
---------------------------------------------------------------------*/

/*---------------------------------------------------------------------
                                OUTROS
---------------------------------------------------------------------*/

/*---------------------------------------------------------------------
                                OUTROS
---------------------------------------------------------------------*/

/*---------------------------------------------------------------------
                                OUTROS
---------------------------------------------------------------------*/
